.borderprofile {
  background-color: white;
  border-radius: 20px;
  padding: 30px;
}

.borderprofiles ul button {
  border: solid 2px #e5e8ed !important;
  margin-right: 200px;
  margin-left: 200px;
  background-color: #e5e8ed;
  width: 400px;
  margin-bottom: 20px;
}
