html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.jumbotron {
  background-image: url(../../public/assets/backgroundauth.png);
  width: 700px;
  height: 1024px;
  margin-top: 0 !important;
}

.jumbotron h1 {
  font-size: 29px;
  color: white;
  margin-left: 50px;
  margin-top: -620px;
}

.jumbotron h2 {
  font-size: 24px;
  color: white;
  margin-left: 100px;
  margin-top: 600px;
}

.jumbotron p {
  font-size: 16px;
  color: white;
  margin-left: 100px;
  margin-top: 20px;
}
