.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin-bottom: 33px;
  border-bottom: 1px solid lightblue;
}

.textbox i {
  width: 25px;
  float: left;
  text-align: center;
}

.textbox input {
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
  margin-bottom: 8px;
}

p {
  margin-top: 40px;
}

.button,
button {
  width: 100%;
  margin-top: 50px;
}

form {
  margin-bottom: 40px;
}
