nav .h1 {
  font-size: 29px !important;
  color: #6379f4 !important;
}

nav ul li img {
  padding-top: 15px !important;
  width: 3rem !important;
}
.row .name {
  margin-bottom: 0 !important;
}

.row .number {
  margin-top: 0 !important;
}

nav ul li .nav-item i {
  margin-top: 10px !important;
}

.name,
.number {
  margin-left: 20px;
}

.rightside {
  /* background-color: blue; */
  display: flex;
  align-items: center;
}

.rounded-bottom {
  background-color: blue !important;
}

nav ul li i {
  margin-left: 25px;
}

.name h6 {
  margin-bottom: 2px;
}
